.row{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;


}
.game_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 5%;
  width: 90%;
}

.game_posters {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 377px;
  overflow-x: hidden;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  place-items: center;
  z-index: 2;
}
.game_posters::-webkit-scrollbar{
  display: none;
}

.metascore {
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  color: #6dc849;
  border: 1px solid #3f6330;
  border-radius: 5px;
}
.metascore__yellow {
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  color: #fdca52;
  border: 1px solid #fdca52;
  border-radius: 5px;
}
.metascore__red {
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
  color: #fc4b37;
  border: 1px solid #fc4b37;
  border-radius: 5px;
}

.game_poster h2 {
  margin-left: 20px;
  margin-bottom: 10px;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  width: fit-content;
  padding-inline: 5px;
  padding-block: 2.5px;
  border-radius: 5px;
}
.reviews span {
  font-weight: 700;
  font-size: 20px;
  padding-right: 5px;
}

/* @media screen and (min-width: 768px) {
  .game_poster:nth-child(even) {
    margin-top: 35px;
  }
} */
