*{
  
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #151515;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: #151515;
}
.main_body{
  display: flex;
  justify-content: space-between;
}